.main-footer {
  padding-top: 1px;
  background-color: #F5F5F7;
  height: 207px;

  @media screen and (max-width: $smallscreen) {
    height: 152px;
  }

  hr {
    margin: 40px 0 0;
    height: 4px;
    border: none;
    background-color: #E3E3E3;
  }

  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;

    @media screen and (max-width: $smallscreen) {
      margin-top: 16px;
    }
  }

  .site-logo {
    display: block;
    max-width: 100px;
    width: 100%;

    svg {
      width: 100%;
    }
  }

  .ukraine {
    max-width: 100px;
    width: 100%;

    img {
      display: block;
      width: 100%;
    }
  }
}