.legacy-message {
  margin-top: 60px;

  p {
    font: 600 normal rem(24px) / 1.4 'Circular';

    &:last-child {
      margin-bottom: 0;
    }
  }

  background: linear-gradient(170.23deg, #51D8AA 0%, #5BADD9 42.93%, #8374D0 99.11%);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.legacy-video {
  margin-top: 30px;
  background-color: #E3E3E3;
  border-radius: 12px;
  width: 100%;
  padding-bottom: 100%;
  height: 0;
}

.links {
  padding: 0;
  list-style: none;

  li {
    a {
      font: 400 normal rem(13px) / 1.4 var(--font-p);
      color: #0E61AE;
      text-decoration: underline;
    }
  }
}

section.content {
  margin-top: 60px;

  p:last-child {
    margin-bottom: 0;
  }
}


section.title {
  margin-top: 60px;
}