.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  pointer-events: none;
}

.simplebar-track {
  &.simplebar-horizontal {
    height: 8px !important;

    @media all and (max-width: $smallscreen) {
      height: 6px !important;
    }

    .simplebar-scrollbar {
      top: 0 !important;
    }
  }

  .simplebar-scrollbar.simplebar-visible:before {
    background-color: var(--neutral-200);
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.simplebar-scrollbar {
  &:after {
    content: "";
    display: block;
    background-color: var(--neutral-100);
    height: 8px;
    width: 500vw;
    margin-left: -200vw;
  }
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  height: 100%;
}